/* CSS Utils */

.cal-d-flex {
  display: flex;
}

.cal-justify-content-center {
  justify-content: center;
}

.cal-justify-content-space-between {
  justify-content: space-between;
}

.cal-justify-content-space-evenly {
  justify-content: space-evenly;
}

.cal-justify-content-start {
  justify-content: flex-start;
}

.cal-justify-content-end {
  justify-content: flex-end;
}

.cal-align-items-center {
  align-items: center;
}

.cal-align-items-start {
  align-items: flex-start;
}

.cal-align-items-end {
  align-items: flex-end;
}

.cal-flex-direction-row {
  flex-direction: row;
}

.cal-flex-direction-column {
  flex-direction: column;
}
